.slide-img {
    width: 82px;
    height: 82px;
}

.slide-img img {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.intro-img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin: 1rem 0;
}

.intro-img img {
    width: 100%;
    height: 100%;
}

.slide-img .cancle {
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 50%;
    padding: 0px 5px 3px 5px;
    text-align: center;
    cursor: pointer;
}

.slide-img .cancle span {
    /* transform: translate(-50%, -50%); */
    margin: 0;
}

@media (max-width: 500px) {
    .intro-img img {
        object-fit: cover;
    }
    .slide-img img {
        object-fit: cover;
    }
}