section {
    width: 100%;
    margin: 10px auto 0px auto;
}

.section-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter-button {
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter-button button {
    margin-top: 10px;
}

.section-bottom {
    width: 100%;
    margin: 10px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    width: 250px;
    margin: 10px 0px 30px 0px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
}

.mobile h3 {
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background: #D6D6D0;
}

.mobile-content {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.mobile-content h4, p {
    margin: 15px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.mobile-content p {
    padding-left: 10px;
}

.mobile-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mobile-button button:first-child {
    margin-right: 10px;
}

.desktop {
    display: none;
}

table tr th button:first-child {
    margin-right: 10px;
}

@media (min-width: 500px) {
    .stock-status h4, .filter-tools h4 {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .section-bottom {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 960px) {
    section {
        width: 90%;
    }
    .filter-button {
        width: 250px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .stock-status h4, .filter-tools h4 {
        font-size: 16px;
    }
    /* h4, label {
        margin: 10px 0px;
        font-family: 'Roboto', sans-serif;
    } */
    .section-bottom {
        width: 100%;
        margin: 20px 0px;
    }
    .mobile {
        display: none;
    }
    .desktop {
        width: 100%;
        display: flex;
    }
    .desktop img {
        width: 90px;
        border-radius: 5px;
    }
    table {
        width: 100%;
        padding: 10px;
        border: 1px solid #D6D6D0;
        border-radius: 5px;
        background: white;
    }
    table tr:nth-child(even) {
        background: #f2f3f5;
    }
    table tr:nth-child(odd) {
        background: none;
    }
    table h4 {
        margin: 25px 0px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }
    table p {
        margin: 0;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }
    table th:last-child h4, table th:first-child h4 {
        text-align: center;
    }
}