.container-history {
    width: 90%;
    margin: 1rem auto;
}

.container-history .desktop {
    display: block;
}

.title-history {
    width: 100%;
    background-color: royalblue;
    padding: 5px;
    border-radius: 5px;
}

.title-history h3 {
    text-align: center;
    color: #fff;
}

.cover-history {
    border: 1px solid #ccc;
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
    background-color: #fff;
}

.cover-history p:nth-child(1), .cover-history p:nth-child(2) {
    width: 50%;
    margin: 0;
}

.cover-history p:nth-child(2) {
    text-align: right;
    text-decoration: underline;
}

.des-history {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    left: 0;
    top: 50px;
    padding: 10px 0;
    transition: 0.5 ease-in;
    background-color: #fff;
}

.des-content {
    display: flex;
    justify-content: left;
    padding: 5px 10px;
    position: relative;
}

.cover-history .des-content p:first-child {
    font-weight: bold;
}

.cover-history .des-content p {
    width: 50%;
    text-align: left;
    text-decoration: none;
}

.table-history th:last-child, .table-history td:last-child {
    width: 250px;
}

.table-history th:last-child h4, .table-history th:first-child h4 {
    text-align: left;
}

.box-history {
    display: none;
    margin: 0 auto;
}

.cover-moblie-history {
    border: 1px solid #ccc;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}

.header-moblie-history {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.header-moblie-history h3 {
    margin: 0;
}
.content-moblie-history {
    padding: 5px 1rem;
    display: flex;
}

.content-moblie-history p{
    width: 50%;
}

.content-moblie-history p:last-child{
    text-align: right;
}

.footer-moblie-history {
    padding: 0 1rem 1rem 1rem;
}

.footer-moblie-history p:first-child {
    font-weight: bold;
}

.total-history {
    background: rgb(255, 187, 187);
    padding: 1rem;
    display: flex;
    margin: 1rem 0;
    border-radius: 5px;
}

.total-history p {
    width: 50%;
    color: red;
    margin: 0;
}

.total-history p:last-child {
    text-align: right;
}

@media (max-width: 960px) {
    .container-history .desktop {
        display: none;
    }
    .box-history {
        display: block;
    }
    .history-namepage {
        display: none;
    }
}

@media (max-width: 400px) {
    .container-history {
        width: 80%;
    }
}