/* .Nav-search {
    min-width: 300px;
    position: relative;
    z-index: 2;
    border: none;
} */

.nav-search input {
    width: 90%;
    text-indent: 30px;
    border-radius: 20px;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.nav-search input[type="text"]:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
    /* z-index: 4; */
}

.nav-search .icon-search {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 40px;
    height: 40px;
}

.nav-search .icon-search svg {
    margin: 10px 0 0 10px;
}

/* .nav-search  .container-icon-times {
    display: none;

} */

ul.search-suggest {
    padding-left: 0px;
    padding-top: 50px;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: -25px;
    width: 95%;
    border: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
    z-index: -1;
    background-color: #fff;
}

ul.search-suggest li {
    margin: 0;
    padding: 10px 10px;
}

ul.search-suggest li:hover {
    background-color: dodgerblue;
}

ul.search-suggest li:hover a {
    color: #fff;
}

.blackdrop2 {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hotpink;
}

/* update */

.arrow-left {
    display: none;
}

.times-cancle {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-search {
        width: 100%;
        /* background-color: fuchsia; */
        background-color: #fff;
        position: absolute;
        height: 80px;
        padding-top: 10px;
        z-index: 4;
    }
    .nav-search input {
        border-radius: 0;
        text-indent: 40px;
        /* -webkit-user-select: text !important;
        -khtml-user-select: text !important;
        -moz-user-select: text !important;
        -ms-user-select: text !important;
        user-select: text !important; */
    }
    .nav-search .icon-search {
        top: 10px;
        left: 50px;
        height: 30px;
        background-color: #fff;
        margin-top: 3px;
    }
    .nav-search .icon-search svg {
        margin-top: 8px;
    }
    .arrow-left {
        display: block;
        padding: 0 10px;
        background-color: lawngreen;
        height: 35px;
    }
    .times-cancle {
        display: block;
        padding: 0 10px;
        /* background-color: lawngreen; */
        height: 35px;
        z-index: 2;
    }
    ul.search-suggest {
        top: 0;
        left: 0;
        width: 100%;
    }
    ul.search-suggest li {
        padding-left: 60px;
    }
}